@font-face {
    font-family: "inknut-antique";
    src: url("/font/Inknut_Antiqua/InknutAntiqua-Medium.ttf") ;
    
}
@font-face {
    font-family: "inria-sans";
    src: url("/font/Inria_Sans/InriaSans-Bold.ttf");

}
@font-face {
    font-family: "instok-web";
    src: url('/font/Istok_Web/IstokWeb-Regular.ttf');
}