@import 'var';

footer{
    display: flex;
    flex-wrap: wrap;
    

    align-items: center;
    justify-content: space-around;
    background: $segundari-bg-color;
    .con-footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 30px;
        margin: 10px;
        a{
            font-family:inria-sans;
            margin: 10px;
            transition: color 0.2s linear;
        }
        a:hover{
            text-decoration: underline;
            color: $button-color;
        }
    }
}

