@import 'mixin';
@import 'var';

.con{
    background:linear-gradient(#00000600,$portada-color), url(../img/lapto.png)center center /cover ;
    margin: auto;
    width: 98dvw;
    height: 70dvh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;

}

.con p{
    color: $color-white;
    max-width: 50%;
    margin: 10px;
    text-align: justify;
    padding: 20px;
    font-family: inria-sans;
    font-size: 20px;
   
    
}
@include smalls-s(){
   
   
    .con p{
        color: black;
        max-width: 90%;
        margin: 10px;
        text-align: justify;
        padding: 20px;
        
    }
}