// color white
$primari-bg-color: #D9D9DE;
$segundari-bg-color: #6a6a6b;
$color-white: #fff;
$blur-color: #d9d9d925;
$portada-color: #807d7d8f;
// color black
$primari-tg-color:#002;
$segundari-tg-color:#003;
$box-shadow-tg-color:#000033a6;
// color button
$button-color:#037ae9;
$button-color2:#016bce;



// padding
$padding-1: 4px ;
$padding-2: 8px ;
$padding-3: 12px ;
$padding-4: 16px ;
$padding-5: 20px ;
$padding-6: 24px ;
$padding-7: 28px ;
$padding-8: 32px ;
$padding-9 : 36px ;